.brand_icons > i {
    @apply mr-8 text-xl bg-gray-700 h-8 w-8 rounded-full hover:bg-black transition-all duration-500;
    &::before {
        position: relative;
        top: 0.15rem;
    }
}

.bobble {
    animation: bounce 2s ease-in-out infinite;
}

$bobble-length: 0.5rem;
@keyframes bounce {
    0%, 100% {
        transform: translateY(-25%);
    }
    50% {
        transform: translateY(0);
    }
}

